<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Führerschein</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" text-center>
          <ion-label position="floating">Vorderseite des Führerscheins</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker (imagePick)="[switchToFrontside(), onImagePicked($event)]"></app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" text-center>
          <ion-label position="floating">Rückseite des Führerscheins</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker (imagePick)="[switchToBackside(), onImagePicked($event)]"></app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button (click)="onSubmitLicense()" [disabled]="!form.get('frontside').value || !form.get('backside').value" expand="full" size="large">Abschicken</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
