<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Loggen Sie sich ein</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form='ngForm' (ngSubmit)='onSubmit(form)'>
    <ion-grid>
      <ion-row>
        <ion-col size-sm='3' offset-sm='3'>
          <ion-list>
            <ion-item>
              <ion-label position='floating'>E-Mail</ion-label>
              <ion-input type='email' ngModel name='email' required email #emailCtrl='ngModel'></ion-input>
            </ion-item>
            <ion-item *ngIf='!emailCtrl.valid && emailCtrl.touched' lines='none'>
              <ion-label>E-Mail muss eine valide E-Mail Adresse sein</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position='floating'>Passwort</ion-label>
              <ion-input type='password' ngModel name='password' required minlength='6' #passwordCtrl='ngModel'></ion-input>
            </ion-item>
            <ion-item *ngIf='!passwordCtrl.valid && passwordCtrl.touched' lines='none'>
              <ion-label>Passwort muss ein valides Passwort sein</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm='6' offset-sm='3'>
          <ion-button type='submit' color='primary' expand='block' [disabled]='!form.valid'>Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
