<div *ngIf="isInvoice">
  <ion-img
    role="button"
    class="image"
    (click)="onPickImage()"
    [src]="selectedImage"
    *ngIf="selectedImage && showPreview">
  </ion-img>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="[usePickerFalse(), onPickImage()]" *ngIf="!selectedImage || !showPreview">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button (click)="[usePickerTrue(), onPickImage()]" *ngIf="!selectedImage || !showPreview">
        <ion-icon name="folder"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <input type="file" style="visibility: hidden;" #filePicker (change)="onFileChosen($event)" accept="image/jpeg"/>
</div>

<div class="picker" *ngIf="!isInvoice">
  <ion-img
    role="button"
    class="image"
    (click)="onPickImage()"
    [src]="selectedImage"
    *ngIf="selectedImage">
  </ion-img>
    <ion-item>
      <ion-button (click)="onPickImage()" *ngIf="!selectedImage">
        <ion-icon name="camera" slot="start"></ion-icon>
        <ion-label>Bild</ion-label>
      </ion-button>
    </ion-item>
  <input type="file" style="visibility: hidden;" #filePicker (change)="onFileChosen($event)" accept="image/jpeg"/>
</div>
