<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Vater-App
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home" lines="none">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Menü</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/invoices" lines="none">
            <ion-icon name="pricetags" slot="start"></ion-icon>
            <ion-label>Belege</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/licenses" lines="none">
            <ion-icon name="car" slot="start"></ion-icon>
            <ion-label>Führerschein</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="reminders" lines="none">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>Erinnerungen</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="full">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Nachtmodus</ion-label>
            <ion-toggle name="darkMode" ngModel (ionChange)="checkDarkTheme()" slot="end"></ion-toggle>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
