div[scrollx=true], div[scrolly=true] {
    position: relative;
    overflow: scroll;
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }
  
  div[scrolly=true] {
    overflow-y: auto;
  }

  #myFixZone {
    height: 150px;
  }

