<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Übersicht
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center text-sm="6" offset-sm="3" margin-top="50px">
        <ion-label>Anstehende Termine</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div scrollY="true" id="myFixZone">
          <ion-list *ngFor="let reminding of loadedReminders">
            <ion-item>
              <ion-label>{{reminding.title}}</ion-label>
              <p *ngIf="!reminding.allDay">{{reminding.startTime.toLocaleString()}} - {{reminding.endTime.toLocaleTimeString()}}</p>
              <p *ngIf="reminding.allDay">{{reminding.startTime.toLocaleDateString()}} Ganztägig</p>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col margin-start="15" size="8">Benachrichtigungen</ion-col>
      <ion-col size="3">
        <ion-checkbox [(ngModel)]="allowPersonal" (ionChange)="onPmChange()"></ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button expand="block" margin size="large" routerLink="/invoices">Belege</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button expand="block" margin size="large" routerLink="/licenses">Führerschein</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button expand="block" margin size="large" routerLink="/reminders">Erinnerungen</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button expand="full" color="danger" size="large" (click)="onLogout()" margin>Logout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
